body{
    margin:0;
    padding:0;
     box-sizing: border-box;
       font-family: sans-serif;
}

.last-receipes{
  background: url("recipe.jpg");
    height:700px;
    width:100%;
  
   background-repeat: no-repeat;
   background-size: cover;
   
   
    position:relative;
    

}

.top-header{
    height:70px;
   z-index: 5;
    border-bottom:1px solid white;
    margin-right: 30px;
    margin-left: 30px;
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   color:white;
 
   

}

.logo{
    font-size:30px;
    margin-left:100px;
   opacity: 1;
  cursor: pointer;
}

.link{
  margin-right:80px;
  font-size:20px;
  cursor: pointer;
}


.welcome-message{
    color:white;
    text-align: center;
    margin-top:100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

.tag-line{
    color:white;
    text-align: center;
    margin-top:-8px;
}

.btn-align{
    display: flex;
    justify-content: center;
    margin-top:50px;
}

.start-btn{
    border:1px solid white;
    padding:15px;
    color:white;
    background:transparent;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    transition: all 1s;
}

.start-btn:hover{
    background-color: rgb(96, 96, 96);
    
}

.start-btn:active{
    background-color: rgb(67, 67, 67);
    
}