*{
    margin:0;
    padding:0;
    box-sizing: border-box;

    
}

header{
    background-color: #1C2738;
    height:70px;
    display:flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   color:white;
   position:fixed;
   width:100%;
   z-index:100;
}


.logo{
    font-size:30px;
    margin-left:100px;
   opacity: 1;
  cursor: pointer;
}

.link{
  margin-right:80px;
  font-size:20px;
  cursor: pointer;
}

.hero{
    padding-top:100px;
}
.section{
   width:1000px;
    background-color: #edf2f9;
    margin-left:30px;
    margin-right:30px;
   display: grid;
   
   grid-template-columns: 40% 60%;
    align-items: center ;
    justify-content: center;
   column-gap: 20px;
   padding:10px;
   border-radius: 10px;
   margin:auto;

}

.dish-img{
    width:100%;
    margin-left:10px;
}

.about-dish{
    font-size:18px;
    
}

.about-dish p{
    margin-top:10px;
}

